doctype html
html(lang=en)
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Linkmator (#{config.env})
  body
    #app
    if config.env !== 'production'
      script(type="text/javascript" src="/static/bundle.vendor.js")
      script(type="text/javascript" src="/static/bundle.app.js")
