.FeedPoster { }

.FeedPoster__article {
  margin-bottom: 1em;
}

.FeedPoster__title {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1em;
  color: $global-primary-color;
}

.FeedPoster__actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;

  & > button {
    margin-right: 6px;

    &:last-child {
      margin-right: 0px;
    };
  }
}
