.Linkmator {
  width: 100%;
  margin-bottom: emCalc(20px);
}

  .Linkmator__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 1em;
  }

  .Linkmator__input {
    display: block;
    width: 100%;
    resize: none;
    margin-bottom: 1em;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid $global-secondary-color
  }
