%button {
  background-color: $global-secondary-color;
  color: $white-color;
  padding: 5px 12px;
  appearance: none;
  border: 1px solid $global-primary-color;
  display: inline-block;
}

.Linkmator {
  width: 100%;
  margin-bottom: emCalc(20px);
}

  .Linkmator__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .Linkmator__input {
    display: block;
    width: 100%;
    resize: none;
    margin-bottom: .5em;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid $global-secondary-color
  }

  .Linkmator__button {
    @extend %button;
  }
